footer.footer
    .footer__wrapper
        h2.footer__title.footer__title-assortment Наш ассортимент
        h2.footer__title.footer__title-solution Решения для бизнеса
        h2.footer__title.footer__title-service Услуги / Сервис

        .footer__line.footer__line-top

        ul.footer__links-list.footer__links-list-assortment
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Althaus
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Althaus Limited Leaf
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Niktea
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Impassion
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Lavazza
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Vedrenne
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") SweetShot
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Monin
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Молоко
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Соки
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Вода
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Посуда WMF
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Аксессуары бариста
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Суперавтоматические кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Традиционные кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Фильтр-кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Кофемолки
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Бойлеры
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Дополнительное оборудование
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Водоподготовка

        ul.footer__links-list.footer__links-list-solution
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Отель
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Room-service
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Ресторан
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Лобби-бар
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Бар / кафе
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") АЗС
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Кофейня
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Офис
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Шведский стол
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Fast food
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Конференция / кофе-брейк
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") SPA
            li.footer__links-item    

        ul.footer__links-list.footer__links-list-service
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Обучение
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Аренда
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Инструкции
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Сертификаты
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Заказать дегустацию
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Техническое обслуживание

