footer.footer
    .footer__wrapper
        h2.footer__title.footer__title-assortment Наш ассортимент
        h2.footer__title.footer__title-solution Решения для бизнеса
        h2.footer__title.footer__title-service Услуги / Сервис

        .footer__line.footer__line-top 

        ul.footer__links-list.footer__links-list-assortment
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Althaus
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Althaus Limited Leaf
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Niktea
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Impassion
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Lavazza
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Vedrenne
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") SweetShot
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Monin
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Молоко
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Соки
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Вода
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Посуда WMF
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Аксессуары бариста
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Суперавтоматические кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Традиционные кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Фильтр-кофемашины
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Кофемолки
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Бойлеры
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Дополнительное оборудование
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Водоподготовка

        ul.footer__links-list.footer__links-list-solution
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Отель
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Room-service
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Ресторан
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Лобби-бар
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Бар / кафе
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") АЗС
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Кофейня
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Офис
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Шведский стол
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Fast food
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Конференция / кофе-брейк
            li.footer__links-item    
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") SPA
            li.footer__links-item    

        ul.footer__links-list.footer__links-list-service
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Обучение
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Аренда
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Инструкции
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Сертификаты
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Заказать дегустацию
            li.footer__links-item
                a.footer__link(href="#0" target="_blank" rel="nofollow" title="") Техническое обслуживание

        .footer__wrapper-address
            .footer__wr-subscription
                form(action="" method="POST" name="subscription")
                    label.footer__form-label(for="footer__input") 
                        | Подпишитесь, чтобы первыми узнавать о наших акциях и предложениях
                    .footer__wr-form-elements
                        .footer__wr-input
                            input#footer__input.footer__input(type="email" name="email" placeholder="Введите Ваш E-mail" required)
                        .footer__wr-button 
                            button.footer__button(type="submit") Подписаться
        
            ul.footer__social-list 
                li.footer__social-item 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <g clip-path="url(#clip0_32_538)">
                            <path d="M23.4002 9.3999L5.2002 15.6999L11.5002 17.7999M23.4002 9.3999L11.5002 17.7999M23.4002 9.3999L17.8002 24.0999L11.5002 17.7999" stroke="url(#paint0_linear_32_538)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 29C22.7319 29 29 22.7319 29 15C29 7.26801 22.7319 1 15 1C7.26801 1 1 7.26801 1 15C1 22.7319 7.26801 29 15 29Z" stroke="url(#paint1_linear_32_538)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_32_538" x1="5.2002" y1="16.7499" x2="23.4002" y2="16.7499" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_32_538" x1="1" y1="15" x2="29" y2="15" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                            <clipPath id="clip0_32_538">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    a.footer__social-link(href="https://t.me/+77770432314" title="telegram" target="_blank") 
                li.footer__social-item 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                        <g clip-path="url(#clip0_32_542)">
                            <path d="M30 14.6137C30 22.6847 23.407 29.2273 15.2727 29.2273C12.6903 29.2273 10.2643 28.5673 8.15367 27.409L0 30L2.65833 22.1593C1.31733 19.9573 0.545 17.3747 0.545 14.6137C0.545 6.54267 7.13867 0 15.2727 0C23.4077 0 30 6.54267 30 14.6137ZM15.2727 2.32733C8.44467 2.32733 2.89067 7.839 2.89067 14.6137C2.89067 17.302 3.767 19.7917 5.24933 21.817L3.70233 26.38L8.46067 24.8677C10.4157 26.1513 12.7577 26.9 15.273 26.9C22.1 26.9 27.655 21.389 27.655 14.6143C27.655 7.83967 22.1003 2.32733 15.2727 2.32733ZM22.7097 17.9793C22.6187 17.8303 22.3783 17.7403 22.0177 17.5613C21.6563 17.3823 19.881 16.5153 19.551 16.3963C19.22 16.277 18.9787 16.217 18.7383 16.5753C18.498 16.934 17.806 17.7403 17.595 17.9793C17.3843 18.219 17.174 18.249 16.8127 18.0697C16.452 17.8907 15.289 17.512 13.91 16.292C12.837 15.3427 12.1123 14.1707 11.9017 13.8117C11.6913 13.4533 11.8797 13.2597 12.06 13.0813C12.2227 12.9207 12.4213 12.663 12.6017 12.454C12.7827 12.2447 12.8427 12.0957 12.9623 11.8563C13.0833 11.6173 13.023 11.4083 12.9323 11.2287C12.8423 11.0497 12.1197 9.287 11.819 8.56967C11.5183 7.853 11.218 7.97233 11.007 7.97233C10.7967 7.97233 10.5557 7.94233 10.315 7.94233C10.0743 7.94233 9.683 8.032 9.352 8.39033C9.02133 8.749 8.089 9.61567 8.089 11.378C8.089 13.1407 9.382 14.8437 9.563 15.0823C9.74333 15.321 12.0597 19.0557 15.7297 20.49C19.4 21.9237 19.4 21.4453 20.062 21.3853C20.7233 21.3257 22.1973 20.519 22.4993 19.683C22.7993 18.8457 22.7993 18.1287 22.7097 17.9793Z" fill="url(#paint0_linear_32_542)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_32_542" x1="0" y1="15" x2="30" y2="15" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                            <clipPath id="clip0_32_542">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    a.footer__social-link(href="https://api.whatsapp.com/send/?phone=77770432314" title="whatsapp" target="_blank") 
                li.footer__social-item 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31" fill="none">
                        <path d="M11.3418 13.4375L15.6833 16.4766L20.0249 13.4375" stroke="url(#paint0_linear_32_545)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 20.384V11.701C7 10.7419 7.77751 9.96436 8.73661 9.96436H22.6295C23.5887 9.96436 24.3661 10.7419 24.3661 11.701V20.384C24.3661 21.3432 23.5887 22.1207 22.6295 22.1207H8.73661C7.77751 22.1207 7 21.3432 7 20.384Z" stroke="url(#paint1_linear_32_545)" stroke-width="1.5"/>
                        <circle cx="15.5" cy="15.5" r="14.5" stroke="url(#paint2_linear_32_545)" stroke-width="2"/>
                        <defs>
                            <linearGradient id="paint0_linear_32_545" x1="11.3418" y1="14.957" x2="20.0249" y2="14.957" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_32_545" x1="7" y1="16.0425" x2="24.3661" y2="16.0425" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_32_545" x1="0" y1="15.5" x2="31" y2="15.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00F38D"/>
                                <stop offset="1" stop-color="#009EFF"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    a.footer__social-link(href="mailto:info@hdlab.kz" title="email" target="_blank") 

            .footer__address
                p.footer__address-text
                    span 050012, Казахстан, г. Алматы, Алмалинский р-он,
                    span ул. Шарипова А., здание 92, офис 30
                    span +7 (777) 043-23-14

        .footer__line.footer__line-bottom

        .footer__wr-copyright 
            p.footer__copyright © Все права защищены, ТОО "Хот Дринкс Лаб" , 2023 г.