header.header
    .header__wrapper
        .header__tel 
            a(href="tel:+77770432314") +7 (777) 043-23-14
        .header__logo 
            img(src=require('../../img/logo.webp') alt="")
        .header__wr-social 
            .header__social-icon.header__social-email
                a.header__social-link(href="mailto:info@hdlab.kz" title="email" target="_blank")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 25" fill="none">
                    <g clip-path="url(#clip0_1_11)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.412 0C25.7751 0 27.1382 0.324543 28.1767 1.23326C29.2801 2.20689 29.8643 3.56997 29.9941 4.99796V5.12778V5.2576C29.9941 9.93102 29.9941 14.6044 29.9292 19.3428V19.4077C29.7994 22.6531 27.6574 24.6004 24.412 24.6004C17.986 24.5355 11.5601 24.6004 5.13413 24.6004H5.00431L4.87449 24.5355C2.01852 24.2758 0.265982 22.3286 0.00634766 19.5375V19.4077V19.3428C0.00634766 14.6694 0.00634766 9.99593 0.00634766 5.32251C0.00634766 2.20689 1.95361 0.129817 5.00431 0H5.06922H5.13413C11.5601 0 17.986 0 24.412 0Z" fill="#464F4E"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66748 8.04868V19.3428C2.7973 21.0304 3.70602 21.8093 5.13401 21.9391C11.56 21.9391 18.0508 21.9391 24.4768 21.9391C26.2942 21.9391 27.2029 21.0953 27.2679 19.3428L27.3328 8.30831L15.1299 15.1886L2.66748 8.04868Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.13401 2.66126C3.51129 2.72617 2.66748 3.63489 2.66748 5.25761V5.58215L15.1299 12.7221L27.3328 5.84178V5.25761C27.138 3.37526 26.1644 2.59635 24.4768 2.66126C17.9859 2.66126 11.56 2.66126 5.13401 2.66126Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_11">
                            <rect width="30" height="24.6004" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            .header__social-icon.header__social-telegram
                a.header__social-link(href="https://t.me/+77770432314" title="telegram" target="_blank")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                    <g clip-path="url(#clip0_63_1415)">
                        <path d="M23.4002 9.39999L5.2002 15.7L11.5002 17.8M23.4002 9.39999L11.5002 17.8M23.4002 9.39999L17.8002 24.1L11.5002 17.8" stroke="#464F4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 29C22.7319 29 29 22.7319 29 15C29 7.26801 22.7319 1 15 1C7.26801 1 1 7.26801 1 15C1 22.7319 7.26801 29 15 29Z" stroke="#464F4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_63_1415">
                            <rect width="30" height="30" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            .header__social-icon.header__social-whatsapp
                a.header__social-link(href="https://api.whatsapp.com/send/?phone=77770432314" title="whatsapp" target="_blank")
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                    <g clip-path="url(#clip0_63_1419)">
                        <path d="M30 14.6137C30 22.6847 23.407 29.2273 15.2727 29.2273C12.6903 29.2273 10.2643 28.5673 8.15367 27.409L0 30L2.65833 22.1593C1.31733 19.9573 0.545 17.3747 0.545 14.6137C0.545 6.54267 7.13867 0 15.2727 0C23.4077 0 30 6.54267 30 14.6137ZM15.2727 2.32733C8.44467 2.32733 2.89067 7.839 2.89067 14.6137C2.89067 17.302 3.767 19.7917 5.24933 21.817L3.70233 26.38L8.46067 24.8677C10.4157 26.1513 12.7577 26.9 15.273 26.9C22.1 26.9 27.655 21.389 27.655 14.6143C27.655 7.83967 22.1003 2.32733 15.2727 2.32733ZM22.7097 17.9793C22.6187 17.8303 22.3783 17.7403 22.0177 17.5613C21.6563 17.3823 19.881 16.5153 19.551 16.3963C19.22 16.277 18.9787 16.217 18.7383 16.5753C18.498 16.934 17.806 17.7403 17.595 17.9793C17.3843 18.219 17.174 18.249 16.8127 18.0697C16.452 17.8907 15.289 17.512 13.91 16.292C12.837 15.3427 12.1123 14.1707 11.9017 13.8117C11.6913 13.4533 11.8797 13.2597 12.06 13.0813C12.2227 12.9207 12.4213 12.663 12.6017 12.454C12.7827 12.2447 12.8427 12.0957 12.9623 11.8563C13.0833 11.6173 13.023 11.4083 12.9323 11.2287C12.8423 11.0497 12.1197 9.287 11.819 8.56967C11.5183 7.853 11.218 7.97233 11.007 7.97233C10.7967 7.97233 10.5557 7.94233 10.315 7.94233C10.0743 7.94233 9.683 8.032 9.352 8.39033C9.02133 8.749 8.089 9.61567 8.089 11.378C8.089 13.1407 9.382 14.8437 9.563 15.0823C9.74333 15.321 12.0597 19.0557 15.7297 20.49C19.4 21.9237 19.4 21.4453 20.062 21.3853C20.7233 21.3257 22.1973 20.519 22.4993 19.683C22.7993 18.8457 22.7993 18.1287 22.7097 17.9793Z" fill="#464F4E"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_63_1419">
                            <rect width="30" height="30" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

    nav.nav.header__nav-desctop
        //- ul.nav__list 
        //-     li.nav__item  
        //-         a(href="#assortment") НАШ АССОРТИМЕНТ
        //- .nav__sub-list
        //-     #assortment.nav__sub-item ndkfvndkvbnjdfb
        //-         a(href="#0") close 

        //- Пункты меню
        .nav__item.nav__item-assortment наш ассортимент
        .nav__item.nav__item-solutions решения для бизнеса
        .nav__item.nav__item-contacts услуги / сервис
        .nav__item.nav__item-video видео
        .nav__item
            a(href="./contacts.html") контакты
        //- Подменю
        .nav__sub-item.nav__sub-item-assortment НАШ АССОРТИМЕНТ НАШ АССОРТИМЕНТ НАШ АССОРТИМЕНТ
        .nav__sub-item.nav__sub-item-solutions solutionssolutionssolutionssolutionssolutionssolutionssolutions
           