/* ----------======== START SLIDER BRANDS =======---------- */

.main-page__slider-banners {
    width: 100%;

    background-color: #fff;
}

.slider-banners-slide {
    height: 33vw;
}

.slider-banners__image {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.slider-banners__button {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 15%;

    transition: opacity 0.15s linear;
    
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.slider-banners__button:hover {
    opacity: 1;
}

.slider-banners__button-prev {
    left: 0;
    
    background-image: url('../img/icons/arrow-sl-prev-icon.png'), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: 9% auto, auto;
}

.slider-banners__button-next {
    right: 0;

    background-image: url('../img/icons/arrow-sl-next-icon.png'), linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: 9% auto, auto;
}

/* ----------======== END SLIDER BRANDS =======---------- */

/* ----------======== START SLIDER BRANDS =======---------- */

.main-page__slider-brands {
    background-color: #fff;
}

.brands {
    height: 100%;
}

.brands__slide {
    height: 13.85vw;

}

.brands__image {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

/* ----------======== END SLIDER BRANDS =======---------- */

/* ----------======== START СТАТЬИ С ИЗОБРАЖЕНИЯМИ =======---------- */

.main-page__article-item {
    display: flex;
    height: 20.83vw;
}

.main-page__article-item:nth-child(2n) > .main-page__article-img {
    order: 2;
}

.main-page__article-img {
    width: 50%;
}

.main-page__article-img_tea {
    background: no-repeat url('../img/main-page-article-img-tea.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article-img_coffee {
    background: no-repeat url('../img/main-page-article-img-coffee.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article-img_equipment {
    background: no-repeat url('../img/main-page-article-img-equipment.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article-img_syrups {
    background: no-repeat url('../img/main-page-article-img-syrups.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article-img_training {
    background: no-repeat url('../img/main-page-article-img-training.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article-img_service {
    background: no-repeat url('../img/main-page-article-img-service.webp');
    background-position: center;
    background-size: cover;
}

.main-page__article {
    padding-top: 1.30vw;

    background: #fff;
}

.main-page__article-item:nth-child(1n) .main-page__article {
    width: 50%;
    padding-right: 4.8vw;
    padding-left: 1.6vw;
}

.main-page__article-item:nth-child(2n) .main-page__article {
    width: 50%;
    padding-right: 1.6vw;
    padding-left: 4.8vw;
}

.main-page__article-title {
    font-size: 1.67vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #555;
}

.main-page__wr-article-text {
    margin-top: 0.42vw;

    font-size: 0.8vw;
    font-weight: 400;

    color: #494949;
}

.main-page__article-text {
    display: flex;
    flex-direction: column;
    gap: 1.10vw;
}

.main-page__article-text-list {
    display: flex;
    flex-direction: column;
    gap: 1.10vw;
}

.main-page__article-text-item::before {
    content: "";

    display: inline-block;
    height: 0.21vw;
    width: 0.21vw;
    margin-right: 0.42vw;
    margin-bottom: 0.2vw;

    background-color: #494949;
    border-radius: 50%;

    vertical-align: middle;
}

.main-page__wr-article-link  {
    margin-top: 1.04vw;
    width: fit-content;
}

.main-page__article-link > svg {
    display: block;
    height: 2.08vw;
    width: 2.23vw;
}

/* ----------======== END СТАТЬИ С ИЗОБРАЖЕНИЯМИ =======---------- */


/* ----------======== START О НАС =======---------- */

.main-page__paralax {
    display: grid;
    padding-top: 6.88vw;
    padding-bottom: 9.01vw;
    place-items: center;
}

.main-page__about-us {
    width: 63.06%;
    padding-top: 2.40vw;
    padding-bottom: 7.03vw;

    border-radius: 0.52vw;
    background: rgba(255, 255, 255, 0.80);
}

.main-page__title-about-us {
    font-size: 1.67vw;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    color: #555;
}

.main-page__wr-text-about-us {
    margin-top: 0.78vw;
}

.main-page__text-about-us {
    display: flex;
    width: 82.25%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.4vw;

    font-size: 1.04vw;
    font-weight: 400;
    text-align: center;

    color: #494949;
}

/* ----------======== END О НАС =======---------- */




@media(max-width: 961px) {
    .slider-banners-slide {
        height: 69.07vw;
    }
}

@media(max-width: 961px) {
    .slider-banners__button {
        display: none;
    }
}



@media(max-width: 961px) {
    .brands__slide {
        height: 26.93vw;
    }
}

@media(max-width: 961px) {
    .main-page__article-item {
        height: initial;
        flex-direction: column;
    }
}

@media(max-width: 961px) {
    .main-page__article-img {
        width: 100%;
        height: 51.47vw;
    }

    .main-page__article-item:nth-child(2n) > .main-page__article-img {
        order: initial;
    }
}

@media(max-width: 961px) {
    .main-page__article-item:nth-child(1n) .main-page__article {
        width: initial;
        padding-right: 6.13vw;
        padding-left: 6.13vw;
    }

    .main-page__article {
        padding: 5.33vw 6.13vw 13.33vw 6.13vw;
    }
}

@media(max-width: 961px) {
    .main-page__article-title {
        font-size: 6.40vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .main-page__wr-article-text {
        margin-top: 4vw;
        font-size: 3.73vw;
        text-align: center;
    }
}

@media(max-width: 961px) {
    .main-page__article-text {
        gap: 5.10vw;
    }
}

@media(max-width: 961px) {
    .main-page__wr-article-link {
        display: flex;
        width: 100%;
        margin-top: 4vw;
        justify-content: flex-end;
    }
}

@media(max-width: 961px) {
    .main-page__article-link > svg {
        height: 10.93vw;
        width: 10.93vw;
    }
}

@media(max-width: 961px) {
    .main-page__paralax {
        padding-top: 13.07vw;
        padding-bottom: 27.47vw;
    }
}

@media(max-width: 961px) {
    .main-page__about-us {
        width: 87.74%;
        padding-top: 7.73vw;
        padding-bottom: 13.87vw;

        border-radius: 2.67vw;
    }
}

@media(max-width: 961px) {
    .main-page__title-about-us {
        font-size: 6.40vw;
    }
}

@media(max-width: 961px) {
    .main-page__wr-text-about-us {
        margin-top: 4.53vw;
    }
}

@media(max-width: 961px) {
    .main-page__text-about-us {
        width: 97.26%;
        gap: 4.4vw;

        font-size: 3.73vw;
    }
}


