.wrapper-main {
    background: no-repeat url('../img/paralax-about-us.webp');
    background-position: left bottom;
    background-size: 100% auto;
    background-attachment: fixed;
}

@media(max-width: 961px) {
    .wrapper-main {
        background-position: center bottom;
        background-size: 238% auto;
    }
}
