.breadcrumbs__list {
    display: flex;
    gap: 0.26vw;
} 

.breadcrumbs__item:not(:first-child)::before {
    content: '/';

    display: inline-block;
}

.breadcrumbs__link {
    font-size: 0.63vw;
    font-weight: 400;
}

.breadcrumbs__link:last-child {
    font-weight: 700;
}

@media(max-width: 961px) {
    .breadcrumbs__list {
        gap: 1.07vw;
    }
}

@media(max-width: 961px) {
    .breadcrumbs__link {
        font-size: 2.67vw;
    }
}

